<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>frame_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{129,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{258,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{387,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{516,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{645,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{774,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{903,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1032,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1161,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1290,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1419,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1548,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1677,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1806,0},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{129,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{258,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{387,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{516,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{645,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{774,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{903,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1032,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1161,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1290,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1419,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1548,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1677,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1806,128},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{129,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{258,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{387,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{516,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{645,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{774,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{903,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1032,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1161,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1290,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1419,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1548,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1677,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1806,256},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,384},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{129,384},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>frame_048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{258,384},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>soggy_atlas.png</string>
		<key>textureFileName</key>
		<string>soggy_atlas.png</string>
		<key>size</key>
		<string>{1934,512}</string>
		<key>frameSequence</key>
		<array>
			<string>frame_001.png</string>
			<string>frame_002.png</string>
			<string>frame_003.png</string>
			<string>frame_004.png</string>
			<string>frame_005.png</string>
			<string>frame_006.png</string>
			<string>frame_007.png</string>
			<string>frame_008.png</string>
			<string>frame_009.png</string>
			<string>frame_010.png</string>
			<string>frame_011.png</string>
			<string>frame_012.png</string>
			<string>frame_013.png</string>
			<string>frame_014.png</string>
			<string>frame_015.png</string>
			<string>frame_016.png</string>
			<string>frame_017.png</string>
			<string>frame_018.png</string>
			<string>frame_019.png</string>
			<string>frame_020.png</string>
			<string>frame_021.png</string>
			<string>frame_022.png</string>
			<string>frame_023.png</string>
			<string>frame_024.png</string>
			<string>frame_025.png</string>
			<string>frame_026.png</string>
			<string>frame_027.png</string>
			<string>frame_028.png</string>
			<string>frame_029.png</string>
			<string>frame_030.png</string>
			<string>frame_031.png</string>
			<string>frame_032.png</string>
			<string>frame_033.png</string>
			<string>frame_034.png</string>
			<string>frame_035.png</string>
			<string>frame_036.png</string>
			<string>frame_037.png</string>
			<string>frame_038.png</string>
			<string>frame_039.png</string>
			<string>frame_040.png</string>
			<string>frame_041.png</string>
			<string>frame_042.png</string>
			<string>frame_043.png</string>
			<string>frame_044.png</string>
			<string>frame_045.png</string>
			<string>frame_046.png</string>
			<string>frame_047.png</string>
			<string>frame_048.png</string>
		</array>
	</dict>
</dict>
</plist>
